<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BatchJob will now run</h1>
    <p>Thanks</p>
</form>
  </body>
</html>
